
@font-face {
  font-family: EB Garamond;
  font-style: regular;
  font-weight: 400;
  src: url("../fonts/ebgaramondregular.woff") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: EB Garamond;
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/ebgaramondmedium.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: Inter;
  font-style: regular;
  font-weight: 400;
  src: url("../fonts/interregular.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: Inter;
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/interbold.woff2") format("woff2");
  font-display: swap;
}
