
* {
  box-sizing: border-box;
}

body {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  width: 360px;
  margin: 0 auto;
  padding: 0;
}

.page-header {
  margin: 0;
  padding: 24px 20px;
  background-color: #131313;
}

.container-page {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


/*Menu*/


.navigation-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}


.navigation-link {
  margin: 0;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  color: #F5F5F5;
}


.active {
  text-decoration: none;
}


/*Banner*/

.banner {
  margin: 0;
  background-image: url('../images/cover.svg');
  background-repeat: no-repeat;
  background-position: bottom 20px left 7px;
  background-color: #131313;
}



.banner-block {
  margin: 0;
  font-size: 72px;
  font-family: EB Garamond;
  font-weight: 400;
  line-height: 72px;
  padding: 7px 24px 30px 20px;
  color: #FFFFFF;

}
.banner-block-title {
  margin: 0;
  text-transform: uppercase;
  text-align: start;
  font-weight: 400;
}


.banner-block-description {
  margin: 0;
  text-align: center;
  font-weight: 400;
}


.banner-block-text {
  margin: 0;
  text-align: end;
}



.banner-block-number {
  margin: 0;
  font-weight: 400;
}

/*Info*/

.info-cards {
  margin: 0;
  padding: 30px 20px 38px 20px;
  background-color: #131313;
  color: #F5F5F5;
}


.info-cards-data {
  margin: 0;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #CCCCCC;
}



.info-cards-data-text {
 margin: 0;
 width: 203px;
 font-weight: 400;
}


.info-cards-data-number {
  margin: 0;
  font-weight: 400;
}


.info-cards-description-tx-one {
  margin: 0;
  margin-bottom: 24px;
}


.info-cards-two {
  margin: 0;
  padding: 40px 20px;
  background-color: #FEE42A;
}

.info-cards-two-text-tx {
  margin: 0;
}


.info-cards-two-title {
  margin: 0;
  font-size: 28px;
  font-family: EB Garamond;
  font-weight: 500;
  color: #131313;
  margin-bottom: 32px;
}

.info-cards-two-title-tx-one {
  margin: 0;
  text-align: end;
}

.info-cards-two-title-tx-two {
  margin: 0;
}




.info-cards-description-tx-two {
  margin: 0;
}


.info-cards-two-text {
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #131313;
  margin-bottom: 32px;
}


/*list*/

.info-cards-two-list {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
}

.info-cards-two-description {
  margin: 0;
  font-weight: 400;
}


.info-cards-three {
  margin: 0;
  padding: 40px 20px 60px 20px;
  background-color: #131313;
}

.info-cards-three-title {
  margin: 0;
  font-size: 28px;
  font-family: EB Garamond;
  font-weight: 500;
  color: #F5F5F5;
  margin-bottom: 32px;
}


.info-cards-three-title-tx-one {
  margin: 0;
  text-align: end;
}

.info-cards-three-title-tx-two {
  margin: 0;
}

.info-cards-three-text-tx {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  color: #F5F5F5;
  margin-bottom: 32px;
}

/*info-authors*/

.info-authors {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.info-authors-cards {
  margin: 0;
  color: #F5F5F5;
  padding: 40px 20px;
  background-color: #343434;
  border-radius: 30px;
}


.yellow {
  margin: 0;
  color: #131313;
  background-color: #FEE42A;
}

.info-authors-cards-image {
  margin: 0;
  margin-bottom: 8px;
}

.info-authors-cards-description {
  margin: 0;
  font-weight: 700;
  margin-bottom: 8px;
}

.info-authors-cards-title {
  margin: 0;
  font-size: 22px;
  font-family: EB Garamond;
  font-weight: 500;
  margin-bottom: 8px;
}


.info-authors-cards-text {
  margin: 0;
}

/*footer*/

.page-footer {
  margin: 0;
  background-color: #131313;
  padding: 20px 20px;
  color: #F5F5F5;
  border-top: 1px solid #FEE42A;
}

.page-footer-container-title {
  margin: 0;
}

.page-footer-box {
  margin: 0;
  display: flex;
  justify-content: space-between;
}



.page-footer-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
}



.page-footer-link {
  margin: 0;
  font-size: 16px;
  text-decoration: none;
  color: #F5F5F5;
}


.page-footer-item {
  margin: 0;
  margin-right: 16px;
}

li:last-child {
  margin-right: 0;
}



.visibility-hidden {
  display: none;
  visibility: hidden;
  margin: 0;
}

figure {
  margin: 0;
}
